@model WebApplicationJedi.Models.JediViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Modifier le jedi</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(Model => Model.Id)

        <div class="form-group">
            <div class="col-lg-2">
                @Html.LabelFor(Model => Model.Nom)
            </div>
            <div class="col-lg-10">
                @Html.EditorFor(Model => Model.Nom)
                @Html.ValidationMessageFor(Model => Model.Nom)
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2">
                @Html.LabelFor(Model => Model.IsSith)
            </div>
            <div class="col-lg-10">
                @Html.EditorFor(Model => Model.IsSith)
                @Html.ValidationMessageFor(Model => Model.IsSith)
            </div>
        </div>
        <!-- vue des caracteristiques -->
        <div>
            @Html.ActionLink("Annuler", "Index")
            @Html.ActionLink("Valider", "Edit")
            <input type="submit" value="Valider" class="btn btn-primary" />
        </div>
    </div>
}