@model WebApplicationJedi.Models.JediViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Modifier un jedi</h2>
<hr/>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(Model => Model.Id)

        <div class="form-group">
            <div class="col-lg-2">
                @Html.LabelFor(Model => Model.Nom)
            </div>
            <div class="col-lg-10">
                @Html.EditorFor(Model => Model.Nom)
                @Html.ValidationMessageFor(Model => Model.Nom)
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2">
                @Html.LabelFor(Model => Model.IsSith)
            </div>
            <div class="col-lg-10">
                @Html.EditorFor(Model => Model.IsSith)
                @Html.ValidationMessageFor(Model => Model.IsSith)
            </div>
        </div>
        
        <!-- vue des caracteristiques -->
        <div>
            @Html.DisplayNameFor(Model => Model.Caracteristiques)
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.LabelFor(Model => Model.Caracteristiques.Default.Nom)
                    </th>
                    <th>
                        @Html.LabelFor(Model => Model.Caracteristiques.Default.Definition)
                    </th>
                    <th>
                        @Html.LabelFor(Model => Model.Caracteristiques.Default.Valeur)
                    </th>
                    <th> <!-- Bouton ajout -->

                    </th>
                </tr>

                @foreach(var c in Model.Caracteristiques.list) {
                    <tr>
                        <td>
                            @Html.EditorFor(Model => c.Nom)
                        </td>
                        <td>
                            @{  <!-- Creation de la liste deroulante et selection de la valeur par defaut -->
                                IList<SelectListItem> listeSelection = EnumHelper.GetSelectList(typeof(WebApplicationJedi.ServiceReference.EDefCaracteristique));
                                listeSelection.Single(x => x.Text.Equals(c.Definition.ToString())).Selected = true;
                            }
                            @Html.DropDownList(c.Definition.ToString(), listeSelection)
                        </td>
                        <td>
                            @Html.EditorFor(Model => c.Valeur)
                        </td>
                        <td> <!-- Bouton suppression -->
                        +++++++++++

                        </td>
                    </tr>
                }
            </table>
            @Html.ValidationMessageFor(Model => Model.Caracteristiques)
        </div>

        <div>
            <div class="btn btn-default">
                @Html.ActionLink("Annuler", "Index")
            </div>
            <input type="submit" value="Valider" class="btn btn-primary" />
        </div>
    </div>
}