@model WebApplicationJedi.Models.StadeCollection

@{
    ViewBag.Title = "Index";
}

<h2>Gestion des Stades</h2>

<p>Voici la liste des Stades afin de les modifier ou supprimer.</p>

@foreach(var s in Model.list) {
    <div class="panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6 text-left">
                    @Html.DisplayFor(Model => s.Planete) - @Html.DisplayFor(Model => s.NbPlaces) places
                </div>
                <div class="col-lg-6 text-right">
                    @Html.ActionLink("Modifier", "Modifier", "Edit") | 
                    @Html.ActionLink("Supprimer", "Supprimer", "Delete")
                </div>
            </div>
        </div>
        <div class="panel-body">
            Caractéristiques
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(Model => Model.Default.Caracteristiques.Default.Nom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(Model => Model.Default.Caracteristiques.Default.Definition)
                    </th>
                    <th>
                        @Html.DisplayNameFor(Model => Model.Default.Caracteristiques.Default.Valeur)
                    </th>
                </tr>

                @foreach(var c in s.Caracteristiques.list) {
                    <tr>
                        <td>
                            @Html.DisplayFor(Model => c.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => c.Definition)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => c.Valeur)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}