@model WebApplicationJedi.Models.TournoiViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Résultats du tournoi</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @if (Model != null)
            {
                @Model.Nom
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Matches.list.Where(x => x.Phase == WebApplicationJedi.ServiceReference.EPhaseTournoi.Finale).First().JediVainqueur)
        </dt>

        <dd>
            @if(Model.Matches.list.Count != 0 && Model.Matches.list.Where(x => x.Phase == WebApplicationJedi.ServiceReference.EPhaseTournoi.Finale).First().JediVainqueur != null)
            {
                @Html.DisplayFor(model => model.Matches.list.Where(x => x.Phase == WebApplicationJedi.ServiceReference.EPhaseTournoi.Finale).First().JediVainqueur.Nom)
            }
        </dd>

        <dt>Votre mise</dt>
        <dd>@Model.Mise crédits sur @Model.Jedi</dd>

        <dt>Vos gains</dt>
        <dd>@Model.Gain crédits</dd>

        <dt>Score total</dt>
        <dd>@Model.Total crédits</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Rejouer encore", "Index")
</p>
